
@{
    ViewBag.Title = "Start";
}
@section AddToHead{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#footer").hide();
        })
    </script>
    
    }

<div class="center">

    <div style="text-align:left; background-color:#FFF; border:1px solid #808080; padding:7px;">
        <p>This policy will streamline the process for tracking controlled substance use in your office and protect your providers DEA license.  </p>
        <p>Enter each administration when you dispense the medication and reconcile your inventory weekly.  At the end of each month, print a copy of your monthly log and place in a designated notebook.  You will no longer be required to send copies of your log to Central.   </p>
        <p>Please refer to the policy via the link below if you have questions.</p>
    </div>
    <br />
    <div class="sss-btn">@Html.ActionLink("Administer/View Log", "Log", "Home")</div>
    <br />
    <div class="sss-btn">@Html.ActionLink("Add New Lot", "AddLot", "Home")</div>
    <br />
    <div class ="sss-btn">@Html.ActionLink("Run Monthly Report","MonthlyReport","Home")</div>
    <p>&nbsp;</p>
    <div style="text-align:left; background-color:#FFF; border:1px solid #808080; padding:7px;">
        <p>Policy:  <a href="@Url.Content("~/DocumentsForLinks/Controlled%20Substance%20Policy.pdf")" target="_blank">Click Here</a></p>
        <p>Instructions:  <a href="@Url.Content("~/DocumentsForLinks/Controlled%20Substances%20Log%20-%20Instructions.pdf")" target="_blank">Click Here</a></p>
        <p>If you require assistance, please issue a ticket via <a href="https://summitmed.service-now.com/now/nav/ui/classic/params/target/incident.do%3Fsys_id%3D-1%26sys_is_list%3Dtrue%26sys_target%3Dincident%26sysparm_checked_items%3D%26sysparm_fixed_query%3D%26sysparm_group_sort%3D%26sysparm_list_css%3D%26sysparm_query%3Dactive%253dtrue%255eassigned_to%253dbda8f6171b0f8510d022eac8ec4bcb5e%255estate!%253d6%26sysparm_referring_url%3Dincident_list.do%253fsysparm_query%253dactive%25253Dtrue%25255Eassigned_to%25253Dbda8f6171b0f8510d022eac8ec4bcb5e%25255Estate%252521%25253D6%254099%2540%26sysparm_target%3D%26sysparm_view%3D" target="_blank">ServiceNow</a></p>


    </div>

</div>

